DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=discord
DB_SYNC=true
NODE_ENV=development
JWT_SECRET=jwtmostsecretword-120bit

GOOGLE_CLIENT_ID="_____"
GOOGLE_CLIENT_SECRET="____"
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
FRONTEND_OAUTH_REDIRECT_URL=http://localhost:8080/oauth

APP_NAME=groupX