<html>
  <head>
    <meta charset='utf-8' />
    <title>TFA Disabled</title>
  </head>
  <body>
    <h2>Two-factor authentication disabled</h2>
    <p>Hi,</p>
    <p>Two-factor authentication has been disabled for the account
      {{email}}.</p>
    <p>If this was not you, please reset your password immediately and contact
      support.</p>
  </body>
</html>